/* Product Wrap on Blog: */
div.product-wrap {
  background : rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
  background-color : rgba(0, 0, 0, 0);
  background-repeat-x : repeat;
  background-repeat-y : repeat;
  border : 2px dashed rgb(255, 0, 0);
  border-radius : 3px;
  box-sizing : border-box;
  color : rgb(0, 0, 0);
  display : block;
  font-family : Archivo, sans-serif;
  font-size : 14px;
  height : 441px;
  margin : 10px 308.5px;
  max-width : 300px;
  padding : 10px;
  width : 300px;
}

.product-wrap a {
  background : rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
  background-color : rgba(0, 0, 0, 0);
  background-repeat-x : repeat;
  background-repeat-y : repeat;
  box-sizing : border-box;
  color : rgb(0, 0, 0);
  cursor : pointer;
  display : inline;
  font-family : Archivo, sans-serif;
  font-size : 14px;
  height : auto;
  transition : text-decoration-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s, -webkit-text-decoration-color 0.2s ease-in-out 0s;
  transition-delay : 0s, 0s, 0s;
  transition-duration : 0.2s, 0.2s, 0.2s;
  transition-property : text-decoration-color, color, -webkit-text-decoration-color;
  transition-timing-function : ease-in-out, ease-in-out, ease-in-out;
  width : auto;
}

.product-wrap img {
  background : rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
  background-color : rgba(0, 0, 0, 0);
  background-repeat-x : repeat;
  background-repeat-y : repeat;
  box-sizing : border-box;
  color : rgb(0, 0, 0);
  cursor : pointer;
  display : flex;
  font-family : Archivo, sans-serif;
  font-size : 14px;
  height : 278px;
  justify-content : center;
  margin : 0px 0px 20px;
  max-width : 100%;
  overflow : clip;
  overflow-clip-margin : content-box;
  overflow-x : clip;
  overflow-y : clip;
  vertical-align : top;
  width : 278px;
}

.product-wrap h4 {
  background : rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
  background-color : rgba(0, 0, 0, 0);
  background-repeat-x : repeat;
  background-repeat-y : repeat;
  box-sizing : border-box;
  color : rgb(0, 0, 0);
  cursor : pointer;
  display : block;
  font-family : Archivo, serif;
  font-size : 15px;
  height : 34px;
  letter-spacing : -0.6px;
  line-height : 17px;
  text-align : left;
  width : 278px;
}

.product-wrap p.price {
  background : rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
  background-color : rgba(0, 0, 0, 0);
  background-repeat-x : repeat;
  background-repeat-y : repeat;
  box-sizing : border-box;
  color : rgb(0, 0, 0);
  display : block;
  font-family : "Open Sans";
  font-size : 15px;
  height : 14px;
  line-height : 14px;
  margin : 10px 0px;
  text-align : left;
  width : 278px;
}

.product-wrap a.btn {
  background : rgb(50, 50, 50) none repeat scroll 0% 0% / auto padding-box border-box;
  background-color : rgb(50, 50, 50);
  background-repeat-x : repeat;
  background-repeat-y : repeat;
  border : 0px none rgb(255, 255, 255);
  border-radius : 2px;
  box-sizing : border-box;
  color : rgb(255, 255, 255);
  cursor : pointer;
  display : inline-block;
  font-family : Archivo, sans-serif;
  font-size : 14px;
  font-weight : 600;
  height : 36px;
  line-height : 20px;
  outline : rgb(255, 255, 255) none 0px;
  padding : 8px 11px;
  text-decoration : none solid rgb(255, 255, 255);
  text-transform : uppercase;
  transition : text-decoration-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s, -webkit-text-decoration-color 0.2s ease-in-out 0s;
  transition-delay : 0s, 0s, 0s;
  transition-duration : 0.2s, 0.2s, 0.2s;
  transition-property : text-decoration-color, color, -webkit-text-decoration-color;
  transition-timing-function : ease-in-out, ease-in-out, ease-in-out;
  width : 165.953px;
}

/* Drawer Css */
.drawer .cstm_cart_text {
    margin: 0 -15px 19px;
    padding: 12px 19px 13px 20px;
    display: flex;
    align-items: center;
    background: #E8EFD8;
}

.drawer .cstm_cart_text span.cstm_cart_icon {
    display: flex;
    width: 33px;
    margin-right: 10px;
}

.drawer .cstm_cart_text p {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14;
    color: #000;
}
.drawer .drawer__header {
    padding: 1rem 0;
}
.drawer .drawer__heading {
    margin: 0;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.76;
    text-transform: uppercase;
}
.drawer .drawer__close {
    min-width: 16px;
    min-height: 16px;
    top: 18px;
    right: 4px;
}
.drawer .drawer__close svg {
    height: 16px;
    width: 16px;
}
.drawer .cart-item__name {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  line-height: 0.92;
}
.drawer .quantity {
    min-height: 24px;
}
.drawer .cart-item__name:hover {
    text-decoration: none;
}
cart-drawer-items.is-empty+.drawer__footer {
    display: none;
}
.drawer .cart-drawer__warnings .drawer__close {
    right: 15px;
}
.drawer.is-empty .drawer__footer {
    display: none;
}
.drawer .main_head {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.53;
    text-transform: uppercase;
    color: #000;
    margin: 5px 0;
}

/* Upsell Css */
.upsell_main {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-bottom: 15px;
}

.upsell_main .upsell_single {
    min-width: 291px;
    max-height: 100px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background: #F5F5F5;
    gap: 9px;
    padding: 11px 9px 9px 13px;
}
.upsell_main .upsell_single img {
    max-width: 72px;
    border-radius: 3px;
}
.upsell_main .quick-add__submit {
    box-sizing: border-box;
    min-width: auto;
    padding: 0;
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
}
.upsell_main::-webkit-scrollbar{
  display: none;
}
.upsell_main .quick-add {
    margin: 0;
}
.upsell_main .quick-add__submit.sold_out{
  pointer-events: none;
  opacity: 0.6;
}
.upsell_main .pro_title {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.92;
    margin: 0;
}
cart-drawer.is-empty .cstm_cart_upsell {
    display: none;
}

/* Blog post css */
  .hide {
    display: none;
  }
.art_prod {
    display: block;
    margin: 10px auto;
    max-width: 300px;
    border: 1px solid #eeeeee;
    padding: 10px;
    border-radius: 3px;
}
  .art_prod:not(.hide+.art_prod) {
    display: none;
  }
.art_prod .card__heading {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.13;
    color: #000;
    text-align: left;
}
.art_prod .quick-add__submit {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    background-color: #323232;
    padding: 8px 11px;
    border-radius: 2px;
    margin: 0;
    min-width: unset;
    width: auto;
    min-height: auto;
}
.art_prod .card__information {
    padding: 19px 0 7px;
}
/* Responsive Css */
@media screen and (min-width: 750px){
  .drawer .cart-item__media {
    width: 75px;
  }
  .price {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 0.82;
  }
}